<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div>
    <div>
        <label><b>ID :</b></label>
        <span>{{user.id}}</span>
    </div>
    <div>
        <label><b>Name :</b></label>
        <span>{{user.firstName}}</span>
    </div>
    <div>
        <label><b>lastName :</b></label>
        <span>{{user.lastName}}</span>
    </div>
    <div>
        <label><b>age :</b></label>
        <span>{{user.age}}</span>
    </div>
    <div>
        <label><b>city :</b></label>
        <span>{{user.city}}</span>
    </div>
    <div>
        <label><b>password :</b></label>
        <span>{{user.password}}</span>
    </div>
    <div>
        <label><b>email :</b></label>
        <span>{{user.email}}</span>
    </div>

</div>

</body>
</html>